<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Shades</title>
    </head>
    <body>
       <table>
           <tr>
               <th>Noir</th>
               <th>Rouge</th>
               <th>Bleu</th>
               <th>Vert</th>
           </tr>
           {% for shade in shades %}
            <tr>
                <td style="background-color: rgb({{ shade }}, {{ shade }}, {{ shade }})">0</td>
                <td style="background-color: rgb({{ shade }}, 255, 255)">0</td>
                <td style="background-color: rgb(255, 255, {{ shade}})">0</td>
                <td style="background-color: rgb(255, {{ shade }}, 255)">0</td>
            </tr>
           {% endfor %}
       </table>
    </body>
</html>